RewriteEngine On 				# Vklopi 'rewriting engine'

RewriteRule ^uporabniki/(.+)/?$ uporabniki.php?vzdevek=$1 [NC,L]

RewriteRule ^teki/(.+)/?$ teki.php?token=$1 [NC,L]				
RewriteRule ^teki_get/(.+)/(.+)/?$ teki.php?token=$1&datum=$2 [NC,L]
					
RewriteRule ^login/(.+)/(.+)/?$ login.php?email=$1&geslo=$2 [NC,L] 
		
RewriteRule ^nastavitve/(.+)/?$ nastavitve.php?token=$1 [NC,L]		

RewriteRule ^fitnes/(.+)/?$ fitnes.php?token=$1 [NC,L]
RewriteRule ^fitnes_get/(.+)/(.+)/?$ fitnes.php?token=$1&datum=$2 [NC,L]


# Onemogočimo direkten dostop do orodja.php
<Files orodja.php>
Order allow,deny
Deny from all
</Files>